<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Daily Project</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<style>
    #loadingImage {
        display: none; /* 평소에는 gif가 보이지 않음 */
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('R1280x0-16.gif') 50% 50% no-repeat rgb(249, 249, 249);
        background-size: 10%; /* 이미지 크기를 50%로 줄임 */
        opacity: 0.7;
    }

    #modalOpenButton, #modalCloseButton {
        cursor: pointer;
    }

    #modalContainer {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
    }

    #modalContent {
      position: absolute;
      background-color: #ffffff;
      width: 300px;
      height: 150px;
      padding: 15px;
    }

    #modalContainer.hidden {
      display: none;
    }
</style>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="/">Daily</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- 비로그인시 -->
                <div th:if="${nickname == 'anonymousUser'}">
                    <h4>비로그인</h4>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{/signup}'|">회원 가입</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{/login}'|">로그인</a>
                    </li>
                </div>
                <!-- 로그인시 -->
                <div th:unless="${nickname == 'anonymousUser'}">
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{/logout}'|">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{/my-page}'|">마이 페이지</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Welcome to Daily!</h1>
                <p class="fs-4">날마다 반복되는 3감사 3회개로 여러분들의 하루에 대해서 기록하고 되돌아보세요! Daily는 여러분들이 더 발전할 수 있도록 도와주는 서비스입니다. 하루에 한번만 글을 작성할 수 있습니다!</p>
                <a class="btn btn-primary btn-lg" id="modalOpenButton" >Daily 작성하기</a>
            </div>
        </div>
    </div>
</header>

<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5" id="postList">
        </div>
    </div>
</section>

<!-- 모달 창-->
<div id="modalContainer" class="hidden">
    <div id="modalContent">
        <form id="daily-form">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="itIsPublic" name="itIsPublic" value="true">
                <label class="form-check-label" for="itIsPublic">
                    공개 여부
                </label>
            </div>
            <div class="form-group">
                <label for="thanks1">감사1</label>
                <input type="text" class="form-control" id="thanks1" name="thanks1">
            </div>
            <div class="form-group">
                <label for="thanks2">감사2</label>
                <input type="text" class="form-control" id="thanks2" name="thanks2">
            </div>
            <div class="form-group">
                <label for="thanks3">감사3</label>
                <input type="text" class="form-control" id="thanks3" name="thanks3">
            </div>
            <div class="form-group">
                <label for="penitence1">회개1</label>
                <input type="text" class="form-control" id="penitence1" name="penitence1">
            </div>
            <div class="form-group">
                <label for="penitence2">회개2</label>
                <input type="text" class="form-control" id="penitence2" name="penitence2">
            </div>
            <div class="form-group">
                <label for="penitence3">회개3</label>
                <input type="text" class="form-control" id="penitence3" name="penitence3">
            </div>
        </form>
        <button id="submit-daily-form" onclick="ajax_send()" value="call">저장</button>
        <button id="modalCloseButton">닫기</button>
    </div>
</div>

<!-- Loading Bar -->
<div class="loadingImage" id="loadingImage"></div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Team HelloWorld 2024</p></div>
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modalOpenButton = document.getElementById('modalOpenButton');
        const modalCloseButton = document.getElementById('modalCloseButton');
        const modal = document.getElementById('modalContainer');

        modalOpenButton?.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        modalCloseButton?.addEventListener('click', () => {
            modal.classList.add('hidden');
        });
    });

    function ajax_send(){

        console.log("ajax_send fn activate");

        var dataSerialized = $("#daily-form");

        var data = $("#daily-form").serializeObject()

        var dataJson = JSON.stringify(data);

        $.ajax({
            url : '/daily',
            data : dataJson,
            method : 'POST',
            contentType: 'application/json',
            success : function(data){
                alert("성공 하였습니다!");
                location.reload();
            },
            error : function(request, status, error){
                alert("실패 하였습니다!");
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });

    }


    jQuery.fn.serializeObject = function() {
    var obj = null;
    try {
        if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
            var arr = this.serializeArray();
            if (arr) {
                obj = {};
                jQuery.each(arr, function() {
                    obj[this.name] = this.value;
                });
            }//if ( arr ) {
        }
    } catch (e) {
        alert(e.message);
    } finally {
    }

    return obj;
    };

    // false이면 무한스크롤 중지 (모든 게시물 출력상태)
    // 초기값 true로 설정했습니디.
    var postScroll = true;

    // 초기값으로 첫번째 게시물만 출력받도록 설정 && 스크롤시마다 게시글 5개가 추가 되도록 수정
    var startId = 0;
    var limit = 5

    $(document).ready(function() {
        // 게시글 목록 출력
        postListDisplay(startId, limit);

        if (postScroll === true) {
            // 무한스크롤 함수 실행
            $(window).scroll(scrollHandler);
        }
    });

    // 무한 스크롤 기능
    function scrollHandler() {
        console.log("scorll이 감지 되었습니다.");

        // 스크롤이 화면 가장 아래에 닿으면 실행됨
        if (postScroll === true && $(window).scrollTop() + $(window).height() >= $(document).height() - 30) {
            console.log("scorll이 맨 바닥에 위치합니다.");

            // 변경된 초기값으로 다시 목록이 출력됨
            postListDisplay(startId, limit);

            // 초기값은 limit 값을 더한 값으로 설정
            startId += limit;

            console.log(startId);

        }
    }

    //게시글 목록 출력
    function postListDisplay(startId, limit) {

        $.ajax({
            method: "GET",
            url: "dailies/" + startId + "/" + limit,
            success: function(result) {

                // 출력 데이터가 없다면 무한스크롤을 false(중지상태)로 설정
                if (result.responseDTOS.length === 0) {
                    postScroll = false;
                    console.log("더 이상 데이터가 없다요....ㅠ");
                }

                // 데이터가 있으면 목록 출력
                if (result.responseDTOS.length > 0) {

                    for (var i = 0; i < result.responseDTOS.length; i++) {
                        var postList = result.responseDTOS[i];

                        var postElement2 =
                            $("<div class='col-lg-6 col-xxl-4 mb-5'>" +
                                "<div class='card bg-light border-0 h-100'>" +
                                    "<div class='card-body text-center p-4 p-lg-5 pt-0 pt-lg-0'>" +
                                        "<div class='feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4'>" +
                                            "<i class='bi bi-collection'></i>" +
                                        "</div>" +
                                        "<h2 class='fs-4 fw-bold'>" + postList.author + "</h2>" +
                                        "<p class='mb-0'>감사</p>" +
                                        "<ul class='list-group'>" +
                                          "<li class='list-group-item'>" + postList.thanks1 + "</li>" +
                                          "<li class='list-group-item'>" + postList.thanks2 + "</li>" +
                                          "<li class='list-group-item'>" + postList.thanks3 + "</li>" +
                                        "</ul>" +
                                        "<br />" + 
                                        "<p class='mb-0'>회개</p>" +
                                        "<ul class='list-group'>" +
                                          "<li class='list-group-item'>" + postList.penitence1 + "</li>" +
                                          "<li class='list-group-item'>" + postList.penitence2 + "</li>" +
                                          "<li class='list-group-item'>" + postList.penitence3 + "</li>" +
                                        "</ul>" +
                                    "</div>" +
                                "</div>" +
                            "</div>");
                        $("#postList").append(postElement2);
                    }
                }
            },

            beforeSend: function () {
                    $("#loadingImage").show();
                },

            complete: function () {
                $("#loadingImage").hide();
                },

            error: function(error) {
              $("#loadingImage").hide();
              console.log(error);
            }
        });
    }
</script>
</html>
