<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>홈 화면</title>
</head>
<style>
    #modalOpenButton, #modalCloseButton {
        cursor: pointer;
    }

    #modalContainer {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
    }

    #modalContent {
      position: absolute;
      background-color: #ffffff;
      width: 300px;
      height: 150px;
      padding: 15px;
    }

    #modalContainer.hidden {
      display: none;
    }
</style>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/signup}'|">
                회원 가입
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg"
                    th:onclick="|location.href='@{/login}'|" type="button">
                로그인
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <div th:if="${nickname == 'anonymousUser'}">
            <h4>비로그인</h4>
        </div>
        </div>
        </div>

        <div th:unless="${nickname == 'anonymousUser'}">
            <h4>로그인</h4>
            <!-- 편의상 해당 div 아래에 코드 작성하기-->
            <div id="daily-content" class="mt-4"></div>
            <div class="text-center mt-4" th:if="${nickname != null}">
                <button class="btn btn-primary" id="modalOpenButton">작성하기</button>
            </div>

            <!-- 모달 창-->
            <div id="modalContainer" class="hidden">
                <div id="modalContent">
                    <form id="daily-form">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="itIsPublic" name="itIsPublic" value="true">
                            <label class="form-check-label" for="itIsPublic">
                                공개 여부
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="thanks1">감사1</label>
                            <input type="text" class="form-control" id="thanks1" name="thanks1">
                        </div>
                        <div class="form-group">
                            <label for="thanks2">감사2</label>
                            <input type="text" class="form-control" id="thanks2" name="thanks2">
                        </div>
                        <div class="form-group">
                            <label for="thanks3">감사3</label>
                            <input type="text" class="form-control" id="thanks3" name="thanks3">
                        </div>
                        <div class="form-group">
                            <label for="penitence1">회개1</label>
                            <input type="text" class="form-control" id="penitence1" name="penitence1">
                        </div>
                        <div class="form-group">
                            <label for="penitence2">회개2</label>
                            <input type="text" class="form-control" id="penitence2" name="penitence2">
                        </div>
                        <div class="form-group">
                            <label for="penitence3">회개3</label>
                            <input type="text" class="form-control" id="penitence3" name="penitence3">
                        </div>
                    </form>
                    <button id="submit-daily-form" onclick="ajax_send()" value="call">저장</button>
                    <button id="modalCloseButton">닫기</button>
                </div>
            </div>
        </div>

    <div id="postList">
        아래에 콘텐츠가 나와야 함.
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modalOpenButton = document.getElementById('modalOpenButton');
        const modalCloseButton = document.getElementById('modalCloseButton');
        const modal = document.getElementById('modalContainer');

        modalOpenButton?.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        modalCloseButton?.addEventListener('click', () => {
            modal.classList.add('hidden');
        });
    });

    function ajax_send(){

        console.log("ajax_send fn activate");

        var dataSerialized = $("#daily-form");

        var data = $("#daily-form").serializeObject()

        var dataJson = JSON.stringify(data);

        $.ajax({
            url : '/daily',
            data : dataJson,
            method : 'POST',
            contentType: 'application/json',
            success : function(data){
                alert("성공 하였습니다!");
                location.reload();
            },
            error : function(request, status, error){
                alert("실패 하였습니다!");
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });

    }


    jQuery.fn.serializeObject = function() {
    var obj = null;
    try {
        if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
            var arr = this.serializeArray();
            if (arr) {
                obj = {};
                jQuery.each(arr, function() {
                    obj[this.name] = this.value;
                });
            }//if ( arr ) {
        }
    } catch (e) {
        alert(e.message);
    } finally {
    }

    return obj;
    };

    // false이면 무한스크롤 중지 (모든 게시물 출력상태)
    // 초기값 true로 설정했습니디.
    var postScroll = true;

    // 초기값으로 첫번째 게시물만 출력받도록 설정 && 스크롤시마다 게시글 5개가 추가 되도록 수정
    var startId = 0;
    var limit = 5

    $(document).ready(function() {
        // 게시글 목록 출력
        postListDisplay(startId, limit);

        if (postScroll === true) {
            // 무한스크롤 함수 실행
            $(window).scroll(scrollHandler);
        }
    });

    // 무한 스크롤 기능
    function scrollHandler() {
        console.log("scorll이 감지 되었습니다.");

        // 스크롤이 화면 가장 아래에 닿으면 실행됨
        if (postScroll === true && $(window).scrollTop() + $(window).height() >= $(document).height() - 30) {
            console.log("scorll이 맨 바닥에 위치합니다.");

            // 변경된 초기값으로 다시 목록이 출력됨
            postListDisplay(startId, limit);

            // 초기값은 limit 값을 더한 값으로 설정
            startId += limit;

            console.log(startId);

        }
    }

    //게시글 목록 출력
    function postListDisplay(startId, limit) {

        $.ajax({
            method: "GET",
            url: "dailies/" + startId + "/" + limit,
            success: function(result) {

                // 출력 데이터가 없다면 무한스크롤을 false(중지상태)로 설정
                if (result.responseDTOS.length === 0) {
                    postScroll = false;
                    console.log("더 이상 데이터가 없다요....ㅠ");
                }

                // 데이터가 있으면 목록 출력
                if (result.responseDTOS.length > 0) {

                    for (var i = 0; i < result.responseDTOS.length; i++) {
                        var postList = result.responseDTOS[i];

                        var postElement2 =
                            $("<div class='col-12 col-sm-6 col-md-4 col-lg-3 mb-4 clickable-post' data-aos='fade-up' data-aos-delay='100' data-aos-duration='800'>" +
                                "<div class='post-content'>" +
                                    "<p><strong>isPublic:</strong> " + postList.public + "</p>" +
                                    "<p><strong>Thanks 1:</strong> " + postList.thanks1 + "</p>" +
                                    "<p><strong>Thanks 2:</strong> " + postList.thanks2 + "</p>" +
                                    "<p><strong>Thanks 3:</strong> " + postList.thanks3 + "</p>" +
                                    "<p><strong>Penitence 1:</strong> " + postList.penitence1 + "</p>" +
                                    "<p><strong>Penitence 2:</strong> " + postList.penitence2 + "</p>" +
                                    "<p><strong>Penitence 3:</strong> " + postList.penitence3 + "</p>" +
                                "</div>" +
                            "</div>");
                        $("#postList").append(postElement2);
                    }
                }
            },
            error: function(error) {
              console.log(error);
            }
        });
    }



</script>
</html>
