<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Daily Project</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <!-- Alert Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>
<style>
    #loadingImage {
        display: none; /* 평소에는 gif가 보이지 않음 */
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('R1280x0-16.gif') 50% 50% no-repeat rgb(249, 249, 249);
        background-size: 10%; /* 이미지 크기를 50%로 줄임 */
        opacity: 0.7;
    }

    .gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
</style>

<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="/">Daily</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{/logout}'|">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{/}'|">홈</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header-->
<div class="gradient-custom-3">
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">My Page</h1>
                    <p class="fs-4">마이페이지에서 그동안 작성했던 글들을 관리해보세요!</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5" id="postList">
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Daily 작성하기</h5>
                </div>
                <div class="modal-body">
                    <form id="daily-form">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="itIsPublic" name="itIsPublic" value="true" role="switch">
                            <label class="form-check-label" for="itIsPublic">공개 여부</label>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="input-thanks1">감사1</span>
                            <textarea class="form-control" id="thanks1" name="thanks1" aria-label="thanks1" aria-describedby="inputGroup-sizing-lg"></textarea>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="input-thanks2">감사2</span>
                            <textarea class="form-control" id="thanks2" name="thanks2" aria-label="thanks2" aria-describedby="inputGroup-sizing-lg"></textarea>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="input-thanks3">감사3</span>
                            <textarea class="form-control" id="thanks3" name="thanks3" aria-label="thanks3" aria-describedby="inputGroup-sizing-lg"></textarea>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="input-penitence1">회개1</span>
                            <textarea class="form-control" id="penitence1" name="penitence1" aria-label="penitence1" aria-describedby="inputGroup-sizing-lg"></textarea>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="input-penitence2">회개2</span>
                            <textarea class="form-control" id="penitence2" name="penitence2" aria-label="penitence2" aria-describedby="inputGroup-sizing-lg"></textarea>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="input-penitence3">회개3</span>
                            <textarea class="form-control" id="penitence3" name="penitence3" aria-label="penitence3" aria-describedby="inputGroup-sizing-lg"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="buttonContainer">
<!--                    <button id="submit-daily-form" type="button" class="btn btn-outline-success" onclick="ajax_send(postList.dailyId)" value="call">저장</button>-->
<!--                    <button id="modalCloseButton" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCheckDrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCheckDropLabel">Daily 삭제하기</h5>
                </div>
                <div class="modal-body">
                    <p>정말 지우시겠습니까?</p>
                </div>
                <div class="modal-footer" id="checkButtonContainer">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loading Bar -->
<div class="loadingImage" id="loadingImage"></div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Team HelloWorld 2024</p></div>
</footer>

</body>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Responsive navbar-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    // alert
    const Toast = Swal.mixin({
      toast: true,
      position: 'center',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    });

    // 무한 스크롤 기능
    // false이면 무한스크롤 중지 (모든 게시물 출력상태)
    // 초기값 true로 설정했습니디.
    var postScroll = true;

    // 초기값으로 첫번째 게시물만 출력받도록 설정 && 스크롤시마다 게시글 5개가 추가 되도록 수정
    var startId = 0;
    var limit = 5

    $(document).ready(function() {
        // 게시글 목록 출력
        postListDisplay(startId, limit);

        if (postScroll === true) {
            // 무한스크롤 함수 실행
            $(window).scroll(scrollHandler);
        }
    });

    function scrollHandler() {
        // 스크롤이 화면 가장 아래에 닿으면 실행됨
        if (postScroll === true && $(window).scrollTop() + $(window).height() >= $(document).height() - 30) {

            // 변경된 초기값으로 다시 목록이 출력됨
            postListDisplay(startId, limit);

            // 초기값은 limit 값을 더한 값으로 설정
            startId += limit;
        }
    }

    //게시글 목록 출력
    function postListDisplay(startId, limit) {

        $.ajax({
            method: "GET",
            url: "my/dailies/" + startId + "/" + limit,
            success: function(result) {

                // 출력 데이터가 없다면 무한스크롤을 false(중지상태)로 설정
                if (result.data.responseDTOS.length === 0 || result.data.responseDTOS.length === 1) {
                    postScroll = false;
                }

                // 데이터가 있으면 목록 출력
                if (result.data.responseDTOS.length > 0) {

                    for (var i = 0; i < result.data.responseDTOS.length; i++) {
                        var postList = result.data.responseDTOS[i];

                        var levelIcon;

                        // 글쓴이의 레벨에 따른 이미지 변경
                        switch(postList.authorLevel) {
                            case 1:
                                // Author Level 1에 대한 처리
                                levelIcon = "<i class='bi bi-1-square-fill'></i>"
                                break;
                            case 2:
                                // Author Level 2에 대한 처리
                                levelIcon = "<i class='bi bi-2-square-fill'></i>"
                                break;
                            case 3:
                                // Author Level 3에 대한 처리
                                levelIcon = "<i class='bi bi-3-square-fill'></i>"
                                break;
                            case 4:
                                // Author Level 4에 대한 처리
                                levelIcon = "<i class='bi bi-4-square-fill'></i>"
                                break;
                            default:
                                // 기타 레벨에 대한 처리
                                levelIcon = "<i class='bi bi-c-square-fill'></i>"
                                break;
                        }

                        // 좋아요에 따라 하트 이미지 변경 및 클릭 이벤트 핸들러 추가
                        var svgIcon = postList.clickedLike ?
                          "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-heart-fill' viewBox='0 0 16 16' onclick='sendLikeRequest(\"" + postList.dailyId + "\")'>" +
                            "<path fill-rule='evenodd' d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314'/>" +
                          "</svg>" :
                          "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-heart' viewBox='0 0 16 16' onclick='sendLikeRequest(\"" + postList.dailyId + "\")'>" +
                            "<path d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15'/>" +
                          "</svg>";

                        var postElement2 =
                            $("<div class='col-lg-6 col-xxl-4 mb-5' data-daily-id='" + postList.dailyId + "'>" +
                                "<div class='card border-success border-0 h-100'>" +
                                    "<div class='card-body p-4 p-lg-5 pt-0 pt-lg-0'>" +
                                        "<div class='feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4'>" +
                                            levelIcon +
                                        "</div>" +
                                        "<h2 class='fs-3 fw-normal fst-italic text-center'>" + postList.author + "</h2>" +
                                        "<p class='fs-5 fw-normal mb-0'>감사</p>" +
                                        "<ul class='list-group list-group-flush'>" +
                                          "<li class='list-group-item'>" + "<p class='fw-lighter'>" + postList.thanks1 + "</p>" + "</li>" +
                                          "<li class='list-group-item'>" + "<p class='fw-lighter'>" + postList.thanks2 + "</p>" + "</li>" +
                                          "<li class='list-group-item'>" + "<p class='fw-lighter'>" + postList.thanks3 + "</p>" + "</li>" +
                                        "</ul>" +
                                        "<br />" +
                                        "<p class='fs-5 fw-normal mb-0'>회개</p>" +
                                        "<ul class='list-group list-group-flush'>" +
                                          "<li class='list-group-item'>" + "<p class='fw-lighter'>" + postList.penitence1 + "</p>" + "</li>" +
                                          "<li class='list-group-item'>" + "<p class='fw-lighter'>" + postList.penitence2 + "</p>" + "</li>" +
                                          "<li class='list-group-item'>" + "<p class='fw-lighter'>" + postList.penitence3 + "</p>" + "</li>" +
                                        "</ul>" +
                                        "<br/>" +
                                        "<div style='display: flex; align-items: center; justify-content: space-between;'>" +
                                            "<div style='display: flex; align-items: center;'>" +
                                              "<div class='like-icon'>" + svgIcon + "</div>" +
                                              "<p class='fw-lighter text-start like-count' style='margin: 0 0 0 8px;'>" + postList.dailyLikeCnt + "</p>" +
                                            "</div>" +
                                            "<div style='display: flex; align-items: center;'>" +
                                                "<button class='btn btn-outline-success' style='margin: 0 8px 0 0;' onclick='buttonCreate(\"" + postList.dailyId + "\")' value='call'" +
                                                        "data-bs-toggle='modal' " +
                                                        "data-bs-target='#staticBackdrop' " +
                                                        " data-itIsPublic" + postList.itIsPublic +
                                                        " data-thanks1=" + postList.thanks1 +
                                                        " data-thanks2=" + postList.thanks2 +
                                                        " data-thanks3=" + postList.thanks3 +
                                                        " data-penitence1=" + postList.penitence1 +
                                                        " data-penitence2=" + postList.penitence2 +
                                                        " data-penitence3=" + postList.penitence3 +">수정</button>" +
                                                "<button class='btn btn-outline-success' style='margin: 0;' onclick='checkButtonCreate(\"" + postList.dailyId + "\")' value='call'" +
                                                        "data-bs-toggle='modal' " +
                                                        "data-bs-target='#deleteCheckDrop' " + ">삭제</button>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</div>");
                        $("#postList").append(postElement2);
                    }
                }
            },

            beforeSend: function () {
                    $("#loadingImage").show();
                },

            complete: function () {
                $("#loadingImage").hide();
                },

            error: function(error) {
              $("#loadingImage").hide();
              console.log(error);
            }
        });
    }

    // 모달이 열릴 때 이벤트를 감지하고 폼에 데이터를 채우는 함수
    $('#staticBackdrop').on('show.bs.modal', function (event) {
        // 클릭된 버튼을 가져옴
        var button = $(event.relatedTarget);

        // 버튼에 저장된 데이터를 가져옴
        var itIsPublic = button.data('itIsPublic');
        var thanks1 = button.data('thanks1');
        var thanks2 = button.data('thanks2');
        var thanks3 = button.data('thanks3');
        var penitence1 = button.data('penitence1');
        var penitence2 = button.data('penitence2');
        var penitence3 = button.data('penitence3');

        // 모달 내의 폼 필드를 가져옴
        var modal = $(this);
        modal.find('#itIsPublic').val(itIsPublic);
        modal.find('#thanks1').val(thanks1);
        modal.find('#thanks2').val(thanks2);
        modal.find('#thanks3').val(thanks3);
        modal.find('#penitence1').val(penitence1);
        modal.find('#penitence2').val(penitence2);
        modal.find('#penitence3').val(penitence3);
    });

    function buttonCreate(dailyId) {
        document.getElementById('buttonContainer').innerHTML =
            `<button id="submit-daily-form" type="button" class="btn btn-outline-success" onClick="ajax_send(${dailyId})" value="call">저장</button>
             <button id="modalCloseButton" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>`;
    }

    function checkButtonCreate(dailyId) {
        console.log("checkButtonCreate " + dailyId);
        document.getElementById('checkButtonContainer').innerHTML =
            `<button id="submit-daily-form" type="button" class="btn btn-outline-success" onClick="ajax_send_delete(${dailyId})" value="call">삭제</button>
             <button id="modalCloseButton" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>`;
    }

    // Daily 수정내용 저장 ajax
    function ajax_send(dailyId){

        var dataSerialized = $("#daily-form");

        var data = $("#daily-form").serializeObject();

        var dataJson = JSON.stringify(data);

        $.ajax({
            url : '/daily/' + dailyId,
            data : dataJson,
            method : 'PUT',
            contentType: 'application/json',
            success : function(data){
                $("#daily-form")[0].reset();

                $('#staticBackdrop').modal('hide');

                Toast.fire({
                    icon: 'success',
                    title: '정상적으로 등록하였습니다.'
                });

                $("#postList").empty();
                postListDisplay(0, 5);
            },

            error : function(response, status, error){

                if (response.status == 401) {
                    Toast.fire({
                        icon: 'error',
                        title: '로그인 후 글을 작성해주세요.'
                    });
                }

                if (response.status == 400) {
                    Toast.fire({
                        icon: 'error',
                        title: '이미 오늘 작성된 글이 있습니다.'
                    });
                }

                if (response.status == 412) {
                    // 중복된 값을 제거하기 위한 Set 사용
                    const uniqueMessages = new Set(Object.values(response.responseJSON.data));

                    // Toast 제목에 작성
                    const toastTitle = Array.from(uniqueMessages).join(', ');

                    Toast.fire({
                        icon: 'error',
                        title: toastTitle
                    });
                }

                $("#daily-form")[0].reset();

                $('#staticBackdrop').modal('hide');
            },
        });

    }

    // 직렬화 메서드
    jQuery.fn.serializeObject = function() {
        var obj = null;
        try {
            if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                    obj = {};
                    jQuery.each(arr, function() {
                        obj[this.name] = this.value;
                    });
                }
            }
        } catch (e) {
            alert(e.message);
        } finally {
        }

        return obj;
    };

    // Daily 삭제 ajax
    function ajax_send_delete(dailyId){

        var dataSerialized = $("#daily-form");

        var data = $("#daily-form").serializeObject();

        var dataJson = JSON.stringify(data);

        $.ajax({
            url : '/daily-delete/' + dailyId,
            data : dataJson,
            method : 'POST',
            contentType: 'application/json',
            success : function(data){
                $("#daily-form")[0].reset();

                $('#deleteCheckDrop').modal('hide');

                Toast.fire({
                    icon: 'success',
                    title: '정상적으로 삭제하였습니다.'
                });

                $("#postList").empty();
                postListDisplay(0, 5);
            },

            error : function(response, status, error){

                if (response.status == 401) {
                    Toast.fire({
                        icon: 'error',
                        title: '로그인 후 글을 삭제해주세요.'
                    });
                }

                $("#daily-form")[0].reset();

                $('#deleteCheckDrop').modal('hide');
            },
        });

    }
</script>
</html>