<form action="/signup" id="signupForm" th:action th:object="${requestDTO}" method="post"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{userName}" class="form-control"  >
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{userPassword}" class="form-control" >
    </div>
    <div>
        <label for="name">닉네임</label>
        <input type="text" id="name" th:field="*{userNickname}" class="form-control" >
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit" >회원가입</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'" th:onclick="|location.href='@{/}'|" type="button">
                취소
            </button>
        </div>
    </div>
</form>
